<app-loader *ngIf="loading"></app-loader>

<div *ngIf="mPrograms$ | withLoading | async as mProgramsWithLoading">
  <ng-template [ngIf]="mProgramsWithLoading.error">{{ 'error.general' | translate }}</ng-template>
  <!-- <ng-template [ngIf]="mProgramsWithLoading.loading"><app-loader></app-loader></ng-template> -->

  <ng-template [ngIf]="mProgramsWithLoading.value">
    <form *ngIf="mProgramsWithLoading.value as mPrograms" 
      [formGroup]="programsForm" 
      (ngSubmit)="onSubmit()">
      <div *ngIf="mPrograms.size && !loading"
        class="d-flex flex-row justify-content-start align-items-center"> <!-- During loading no buttons-->
        <!-- FORM BUTTONS-->
        <button *ngIf="isEditMode"
          type="reset"
          mat-raised-button
          class="mat-primary mb-3"
          (click)="cancelEdit()">
          <mat-icon>undo</mat-icon>
          <span class="d-sm-none">
            {{ "cancel" | translate | titlecase }}
          </span>
        </button>

        <button *ngIf="isEditMode"
          type="submit"
          mat-raised-button class="mat-primary mt-3">
          <mat-icon>save</mat-icon>
          <span class="d-sm-none">
            {{ "save" | translate | titlecase }}
          </span>
        </button>

        <!-- PRINT BUTTONS -->
        <button *ngIf="!isEditMode"
          type="button"
          mat-raised-button
          class="mat-primary mt-3"
          (click)="setEditMode(true)">
          <mat-icon>edit</mat-icon>
          <span class="d-sm-none">
            {{ "edit" | translate | titlecase }}
          </span>
        </button>

        <button *ngIf="!isEditMode"
          type="button"
          mat-raised-button
          class="mat-primary mt-3"
          (click)="saveAsPdf()">
          <mat-icon>print</mat-icon>
          <span class="d-sm-none">
            {{ "print" | translate | titlecase }}
          </span>
        </button>

        <!-- PART SELECTOR -->
        <mat-chip-list>
          <mat-chip
            [selected]="getDisplayStudentsParts() === true"
            (click)="setDisplayStudentsParts(true);">
            Students Parts
          </mat-chip>
          <mat-chip
            [selected]="getDisplayStudentsParts() === false"
            (click)="setDisplayStudentsParts(false);">
            Non Students Parts
          </mat-chip>
        </mat-chip-list>

      </div>
      &nbsp; 
      <!-- WEEKS -->
      <div  #printableArea>
        <div *ngFor="let mProgram of mPrograms | keyvalue"
          [formGroupName]="mProgram.key">
          <!-- Week block -->
          <div *ngIf="mProgram.value as program" 
            [ngClass]="{
              'week-box-edit': isEditMode,
              'week-box-view': !isEditMode
            }">
            <h2>{{ program.week | translateDate: "MMM-D" : {days: 6} | async }}</h2>

            <div formArrayName="assignments"
              class="d-flex flex-column justify-content-start align-items-stretch">
              <ng-container *ngFor="let assignment of program.assignments">
                <div *ngIf="isWorkingOnPart(assignment.part)"
                  [formGroupName]="assignment.position"
                  class="d-flex col-12 flex-row flex-wrap justify-content-start align-items-center assignment-line">
                  
                  <div class="assignment-title"
                    [matTooltip]="assignment.description ? assignment.description: null"
                    class="isEditMode ? d-flex w-30 col-sm-12 : d-flex w-30 d-sm-none">
                    {{ assignment.title }}
                  </div>
                  
                  <div *ngIf="isEditMode; else view"
                    class="w-70 flex-row flex-wrap col-sm-11 justify-content-start align-items-center mr-sm-5 assignment-line"
                    >
                    <div class="assignment.part.withAssistant ? d-flex w-49 : d-flex w-100">
                      <app-picker
                        [optionsTemplate]="displayComponentRef.componentType"
                        title="{{ assignment.title | titlecase }}"
                        placeholder="{{ 'assignee' | translate | titlecase }}"
                        [form]="programsForm"
                        [controlPath]="[program._id, 
                          'assignments', 
                          assignment.position, 
                          'assignee']"
                        [options]="assignableListByPart[assignment.part.name]"
                        labelField="fullName"
                      ></app-picker>
                    </div>

                    <div *ngIf="assignment.part.withAssistant" class="d-flex w-49">
                      
                      <app-picker
                        [optionsTemplate]="displayComponentRef.componentType"
                        title="{{ assignment.title | titlecase }} ({{ 'assistant' | translate | titlecase }})"
                        placeholder="{{ 'assistant' | translate | titlecase }}"
                        [form]="programsForm"
                        [controlPath]="[program._id, 
                          'assignments', 
                          assignment.position, 
                          'assistant']"
                        [options]="assignableListByPart['clm.ministry.assistant']"
                        labelField="fullName"
                      ></app-picker>
                    </div>
                  </div>

                  <ng-template #view>
                    <div class="d-flex w-70 col-xs-11 mr-sm-5">
                      <span class="assignment-assignee">{{ assignment.assignee?.fullName }}</span>

                      <span *ngIf="assignment.assistant" class="assignment-assistant">
                        &nbsp;/&nbsp;{{ assignment.assistant?.fullName }}</span>
                    </div>
                  </ng-template>
                  <mat-divider></mat-divider>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</div>