//migrate to angular/flex-layout to CSS Grid
  
  [fxLayout="row"] {
    flex-direction: row;
  }

  [fxLayoutAlign="center start"] {
    display: flex;
    place-content: center flex-start;
    align-items: center;
  }

  [fxFlex="95"] {
    flex: 1 1 95%;
    box-sizing: border-box;
    max-width: 95%;
  }
