<div [formGroup]="form" *ngIf="isEditMode; else assignmentDisplay">
  <div formArrayName="{{ wIndex }}">
    <div
    class="flex-row d-flex justify-content-around justify-content-center"
      formGroupName="{{ assignment.position }}"
    >
      <div class="d-flex w-5">
        <button
          mat-button
          type="button"
          mat-icon-button
          [disabled]="form.disabled"
          (click)="removeAssignment()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <!-- PART -->
      <div class="d-flex w-30 col-sm-auto">
        <mat-form-field fxFill>
          <mat-select
            placeholder="{{ 'assignment' | translate | titlecase }}"
            [compareWith]="compareFn"
            formControlName="part"
            (selectionChange)="onPartChange($event)"
          >
            <mat-select-trigger>
              {{
                form.get([wIndex, assignment.position, "part"]).value?.name
                  | translate
              }}
            </mat-select-trigger>

            <ng-container *ngFor="let part of listOfParts">
              <mat-option *ngIf="part.meeting!=='any'" [value]="part">
                {{ part.name | translate }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- ASSIGNEE -->
      <div  class="d-flex w-30 col-sm-auto">
        <app-picker
          *ngIf="form.get([wIndex, assignment.position, 'part']).value"
          [optionsTemplate]="displayComponentRef.componentType"
          [title]="form.get([wIndex, assignment.position, 'part']).value?.name"
          placeholder="{{ 'assignee' | translate | titlecase }}"
          [form]="form"
          [controlPath]="[wIndex, assignment.position, 'assignee']"
          [options]="
            assignableListByPart[
              form.get([wIndex, assignment.position, 'part']).value?.name
            ]
          "
          labelField="fullName"
        ></app-picker>

      </div>
      <!-- ASSISTANT -->
      <div  class="d-flex w-30 col-sm-auto">
        <app-picker
          *ngIf="
            form.get([wIndex, assignment.position, 'part']).value?.withAssistant
          "
          [optionsTemplate]="displayComponentRef.componentType"
          title="{{ 'assistant' | translate | titlecase }}"
          placeholder="{{ 'assistant' | translate | titlecase }}"
          [form]="form"
          [controlPath]="[wIndex, assignment.position, 'assistant']"
          [options]="assignableListByPart['clm.ministry.assistant']"
          labelField="fullName"
        ></app-picker>
        
      </div>
    </div>
  </div>
</div>

<!-- ASSIGNMENT DISPLAY -->
<ng-template #assignmentDisplay>
  <div class="d-flex flex-row justify-content-start align-items-center">
    <!-- PART -->
    <div
    class="d-flex w-30 col-sm-12 justify-content-end assignment-name"
    >
      {{ assignment.part.name | translate }}
    </div>
    <!-- ASSIGNEE & ASSISTANT -->
    <div  class="d-flex w-50 col-sm-12 justify-content-end  mr-sm-10">
      <span class="assignment-assignee">
        {{ assignment.assignee?.fullName }}
      </span>
      <span *ngIf="assignment.part.withAssistant" class="assignment-assistant">
        / {{ assignment.assistant?.fullName }}
      </span>
    </div>
  </div>
</ng-template>
