<div [formGroup]="form">
  <div formGroupName="{{ assignment.key }}" fxLayoutAlign="space-around start">
    <mat-form-field fxFlex="45">
      <mat-select
        placeholder="{{ assignment.part.name | translate | titlecase }}"
        [compareWith]="compareFn"
        formControlName="assignee"
      >
        <mat-select-trigger>
          {{ assignment.assignee.fullName }}
        </mat-select-trigger>

        <mat-option disabled="disabled" class="filter-option">
          <mat-icon class="mat-18">sort</mat-icon>
          <button
            mat-raised-button
            class="mat-primary fill text-sm"
            title="{{ 'sort-users-by-name' | translate }}"
          >
            <!-- (click)="sortUsersByName(partName)" -->
            {{ "A - Z" | translate | titlecase }}
          </button>
          <button
            mat-raised-button
            class="mat-primary fill text-sm"
            title="{{ 'sort-users-by-this-assignment' | translate }}"
          >
            <!-- (click)="
              sortUsersByLastAssignment(
                partName,
                'asc',
                'weekend.publicTalk.chairman'
              )
            " -->
            {{ "this" | translate | titlecase }}
          </button>
          <button
            mat-raised-button
            class="mat-primary fill text-sm"
            title="{{ 'sort-users-by-any-assignment' | translate }}"
          >
            <!-- (click)="sortUsersByLastAssignment(partName)" -->
            {{ "all" | translate | titlecase }}
          </button>
        </mat-option>

        <mat-option
          *ngFor="let assignee of assignment.assignableUsers"
          [value]="assignee"
          matTooltip="{{ 'latest-assignment' | translate }} : {{
            'this' | translate | titlecase
          }} : {{ assignee?.lastAssignmentThisPart?.week }} |
    {{ 'all' | translate | titlecase }} : {{
            assignee?.lastAssignmentAnyPart?.week
          }}"
        >
          {{ assignee.fullName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- ASSISTANT -->
    <div fxFlex="45">
      <mat-form-field fxFill *ngIf="assignment.assistant">
        <mat-select
          placeholder="{{ 'assistant' | translate | titlecase }}"
          [compareWith]="compareFn"
          formControlName="assistant"
        >
          <mat-select-trigger>
            {{ assignment.assistant }}
          </mat-select-trigger>
          <mat-option disabled="disabled" class="filter-option">
            <mat-icon class="mat-18">sort</mat-icon>
            <button
              mat-raised-button
              class="mat-primary fill text-sm"
              title="{{ 'sort-users-by-name' | translate }}"
            >
              <!-- (click)="sortUsersByName(partName)" -->
              {{ "A - Z" | translate | titlecase }}
            </button>
            <button
              mat-raised-button
              class="mat-primary fill text-sm"
              title="{{ 'sort-users-by-this-assignment' | translate }}"
            >
              <!-- (click)="
              sortUsersByLastAssignment(
                partName,
                'asc',
                'weekend.publicTalk.chairman'
              )
            " -->
              {{ "this" | translate | titlecase }}
            </button>
            <button
              mat-raised-button
              class="mat-primary fill text-sm"
              title="{{ 'sort-users-by-any-assignment' | translate }}"
            >
              <!-- (click)="sortUsersByLastAssignment(partName)" -->
              {{ "all" | translate | titlecase }}
            </button>
          </mat-option>

          <mat-option
            *ngFor="let assistant of assignment.assignableAssistants"
            [value]="assistant"
            matTooltip="{{ 'latest-assignment' | translate }} : {{
              'this' | translate | titlecase
            }} : {{ assistant?.lastAssignmentThisPart?.week }} |
  {{ 'all' | translate | titlecase }} : {{
              assistant?.lastAssignmentAnyPart?.week
            }}"
          >
            {{ assistant.fullName }}
          </mat-option>
          <!-- <label attr.for="{{ assignment.key + 'assignee' }} ">{{
        assignment.part.name | translate
      }}</label> -->

          <!-- <select id="{{ assignment.key + 'assignee' }}" formControlName="assignee">
        <option
          *ngFor="let user of assignment.assignableUsers"
          [value]="user"
          >{{ user.fullName }}</option
        >
      </select> -->

          <!-- <span *ngIf="assignment.assistant">
        <label attr.for="{{ assignment.key + 'assistant' }}">{{
          "assistant" | translate
        }}</label>

        <select
          id="{{ assignment.key + 'assistant' }}"
          formControlName="assistant"
        >
          <option
            *ngFor="let user of assignment.assignableAssistants"
            [value]="user"
            >{{ user.fullName }}</option
          >
        </select>
      </span> -->
        </mat-select>
      </mat-form-field>
    </div>
    <!-- <div class="errorMessage" *ngIf="!isValid">
        {{ assignment.label }} is required
    </div> -->
  </div>
</div>
