<h2>{{ "user-form-title" | translate }}</h2>

<mat-divider></mat-divider>

<div class="d-flex flex-column gap-3 justify-content-around align-items-stretch">
  <app-loader *ngIf="!userForm"> </app-loader>

  <form
    class="col-11 flex-row flex-wrap justify-content-center align-items-start"
    #userEditForm
    *ngIf="userForm"
    [formGroup]="userForm"
    (ngSubmit)="saveUser()"
  >
    <div
      class="d-flex col-12 flex-row flex-wrap gap-3 justify-content-center align-items-start"
    >
      <!-- Left column -->
      <div
        class="d-flex flex-column col-10 col-md-9 col-sm-11 justify-content-center align-items-start"
      >
        <!-- Genre -->
        <mat-radio-group
          class="d-flex flex-row gap-3 justify-content-start align-items-stretch"
          labelPosition="before"
          formControlName="genre"
          (change)="toggleManFields('genre', $event)"
        >
          <mat-radio-button value="man" name="genre">
            {{ "man" | translate }}
          </mat-radio-button>
          <mat-radio-button class="flex-grow-1" value="woman" name="genre">
            {{ "woman" | translate }}
          </mat-radio-button>
        </mat-radio-group>
        <app-control-messages [control]="userForm.controls['genre']">
        </app-control-messages>
        <!-- First name -->
        <mat-form-field  style="width: 100%;">
          <input
            matInput
            autocomplete="off"
            placeholder="{{ 'first-name' | translate }}"
            formControlName="firstName"
            required
          />
        </mat-form-field>
        <app-control-messages [control]="userForm.controls['firstName']">
        </app-control-messages>
        <!-- Last name -->
        <mat-form-field style="width: 100%;">
          <input
            matInput
            autocomplete="off"
            placeholder="{{ 'last-name' | translate }}"
            formControlName="lastName"
          />
        </mat-form-field>
        <app-control-messages [control]="userForm.controls['lastName']">
        </app-control-messages>
        <!-- Phone -->
        <mat-form-field style="width: 100%;">
          <input
            matInput
            autocomplete="off"
            placeholder="{{ 'phone' | translate }}"
            formControlName="phone"
          />
        </mat-form-field>
        <app-control-messages [control]="userForm.controls['phone']">
        </app-control-messages>
        <!-- Email -->
        <mat-form-field style="width: 100%;">
          <input
            matInput
            type="email"
            autocomplete="off"
            placeholder="{{ 'email' | translate }}"
            formControlName="email"
          />
        </mat-form-field>
        <app-control-messages [control]="userForm.controls['email']">
        </app-control-messages>
        <!-- Overseer -->
        <mat-radio-group
          labelPosition="before"
          class="flex-row flex-wrap gap-3"
          formControlName="overseer"
          [hidden]="overseerFieldsDisabled"
        >
          <mat-radio-button value="elder" name="overseer">
            {{ "elder" | translate }}
          </mat-radio-button>
          <mat-radio-button value="ministerial-servant" name="overseer">
            {{ "ministerial-servant" | translate }}
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <!-- RIGHT COLUMN -->
      <div
        class="d-flex mt-4 col-1 col-md-2 col-xs-9 flex-column flex-sm-row flex-sm-wrap justify-content-between align-items-start justify-content-xs-end align-items-xs-center gap-sm-3 gap-md-3 gap-lg-3  "
      >
        
        <!-- Child -->
        <mat-checkbox
          class="d-flex col-sm-6"
          labelPosition="after"
          formControlName="child"
          (change)="toggleManFields('child', $event)"
        >
          {{ "child" | translate }}
        </mat-checkbox>
        <!-- baptized -->
        <mat-checkbox
          class="d-flex col-sm-6"
          labelPosition="after"
          formControlName="baptized"
          (change)="toggleManFields('baptized', $event)"
        >
          {{ "baptized" | translate }}
        </mat-checkbox>
        <!-- publisher -->
        <mat-checkbox
          class="d-flex col-sm-6"
          labelPosition="after"
          formControlName="publisher"
          (change)="toggleManFields('publisher', $event)"
        >
          {{ "publisher" | translate }}
        </mat-checkbox>
        <!-- disabled -->
        <mat-checkbox
          class="d-flex col-sm-6"
          labelPosition="after"
          formControlName="disabled"
        >
          {{ "disabled" | translate }}
        </mat-checkbox>
      </div>
      <!-- /Right column -->

      <div class="d-flex col-12">
        &nbsp;
        <!-- spacer -->
      </div>

      <!-- Part Chips -->

      <div class="d-flex col-11" *ngIf="allPartsGrouped$ | async as allPartsGrouped">
        <div>
          <!-- Midweek parts -->
          <h3>{{ "assignable-parts" | translate | titlecase }}</h3>
          <mat-chip-list multiple="true" class="d-flex flex-row ">
            <fieldset
              style="width:100%; "
              *ngFor="
                let meeting of allPartsGrouped.meetings;
                let meetingIndex = index
              "
            >
              <legend>
                {{ meeting | translate | titlecase }}
              </legend>
              <mat-chip
              class="{{((part?.byAnOverseer && overseerFieldsDisabled) ||(part?.byABrother && manFieldsDisabled)) ? '' : 'd-flex d-none'}}"
                *ngFor="let part of allPartsGrouped.parts[meetingIndex]"
                [selected]="partSelected(part)"
                (click)="togglePart(part); userForm.markAllAsTouched()"
              >
                {{ part.name | translate }}
              </mat-chip>
            </fieldset>
          </mat-chip-list>
        </div>
      </div>

      <div class="d-flex col-12">
        &nbsp;
        <!-- spacer -->
      </div>

      <!-- BUTTONS -->
      <div class="d-flex col-12 flex-row justify-content-around align-items-stretch">
        <button type="button" mat-raised-button (click)="cancel()">
          {{ "cancel" | translate | titlecase }}
        </button>
        <button type="submit" mat-raised-button color="primary">
          {{ "save" | translate | titlecase }}
        </button>
      </div>

      <div class="d-flex col-12">
        &nbsp;
        <!-- spacer -->
      </div>
    </div>
  </form>
</div>
