<button
  mat-fab
  matTooltip="{{ 'add-user' | translate | titlecase }}"
  [routerLink]="['/users/add']"
  class="mat-fab-bottom-right"
>
  <mat-icon>person_add</mat-icon>
</button>

<h2>{{ 'users' | translate | titlecase }}</h2>

<!-- User search bar -->
<div>
  <app-user-filter (performedSearch)="searchByName($event)"></app-user-filter>
</div>

<!-- Generate button -->
<div class="d-flex flex-row justify-content-end align-items-start">
  <button
    mat-raised-button
    matTooltip="{{ 'generate-users' | translate | titlecase }}"
    (click)="generateUsers()"
    class="d-flex justify-content-end "
  >
    <mat-icon>autorenew</mat-icon>
  </button>
</div>

<!-- Table control bar -->
<div class="d-flex flex-row justify-content-between align-items-stretch">
  <div class="d-flex mx-4 align-items-center gap-2 " style="width: 30px;" >
    <mat-checkbox class="gap-1"
      [checked]="masterChecked"
      matTooltip="{{ 'select-all' | translate }}"
    ></mat-checkbox>
  </div>
  <div class="d-flex justify-content-center ">
    <button mat-icon-button (click)="openSort($event)">
      <mat-icon>sort</mat-icon>
    </button>
    <button mat-button disabled="true">
      {{ 'sort-by' | translate | titlecase }}
      {{ sortField.replace('_', '-') | translate }}
    </button>
    <button
      mat-icon-button
      matTooltip="{{ 'sort-order' | translate }}"
      (click)="toggleSortOrder()"
    >
      <mat-icon>
        arrow_{{ sortOrder === 'asc' ? 'upward' : 'downward' }}
      </mat-icon>
    </button>
  </div>
  <div class="d-flex align-items-center " style="width: 30px;">
    <button
      mat-icon-button
      [disabled]="noUserChecked"
      matTooltip="{{ 'delete' | translate }}"
      appConfirm="{{ 'dialog.delete.confirmation.title' | translate }}"
      message="{{ 'dialog.delete.confirmation.message' | translate }}"
      cancelButton="{{ 'dialog.delete.confirmation.cancelButton' | translate }}"
      confirmButton="{{
        'dialog.delete.confirmation.confirmButton' | translate
      }}"
      (confirmed)="delete(getCheckedUsers())"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="d-flex flex-grow-1"></div>
</div>

<mat-paginator
  [length]="dataLength"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = $event"
>
</mat-paginator>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
<!--<div *ngIf="users; else loading">-->
<div *ngIf="pUsers$ | async as pUsers; else loading">
  <mat-accordion multi="false">
    <mat-expansion-panel
      hideToggle="true"
      #mep="matExpansionPanel"
      *ngFor="let user of pUsers; last as last; trackBy: trackById"
    >
      <mat-expansion-panel-header
        class=" d-flex flex-row justify-content-start align-items-stretch"
      >
        <mat-panel-title
          class="d-flex flex-row align-items-center col-xs-12 gap-3 justify-content-between align-items-stretch"
        >
          <!-- Checkbox -->
          <div class="d-flex align-items-center" style="width: 25px; "  >
            <mat-checkbox
              name="userCheckbox"
              [value]="user._id"
              [checked]="masterChecked"
              (change)="handleCheckboxes()"
              (click)="$event.stopPropagation()"
            ></mat-checkbox>
          </div>

          <!-- Type icon -->
          <div class="d-flex" style="width: 30px;">
            <img class="genre-icon" src="/assets/icon/{{ user.type }}.svg" />
          </div>

          <!-- User name -->
          <div  class=" d-flex flex-grow-1 align-items-center"  >
            {{ user.fullName }}
          </div>
        </mat-panel-title>
        <mat-panel-description class="d-flex flex-grow-1 justify-content-center"  >
          <div class=" d-flex flex-grow-1 d-none d-sm-block" *ngIf="user.phone">
            <mat-icon inline="true">phone</mat-icon> {{ user.phone }}
          </div>

          <div class=" d-flex flex-grow-1 d-none d-md-block"  *ngIf="user.email">
            <mat-icon inline="true">mail_outline</mat-icon>
            {{ user.email }}
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <!-- Lazy rendering -->

        <div
          class="d-flex flex-row flex-wrap flex-xs-column justify-content-start align-items-stretch "
        >
          <div >
            <mat-icon  inline="true">person</mat-icon>
            {{ user.type }}
          </div>

          <div  class="mx-auto"  *ngIf="user.progress">
            <mat-icon inline="true">info</mat-icon>
            {{ user.progress }}
          </div>

          <div class="d-flex flex-grow-1 d-block d-sm-none " *ngIf="user.phone">
            <mat-icon inline="true">phone</mat-icon>
            {{ user.phone }}
          </div>
          <div class="d-flex flex-grow-1 d-none d-sm-block d-md-none " *ngIf="user.email">
            <mat-icon inline="true">mail_outline</mat-icon>
            {{ user.email }}
          </div>
        </div>

        <mat-chip-list
          selectable="false"
          class="d-flex flex-row justify-content-start align-items-stretch"
        >
          <mat-chip
            class="mat-chip-list-stacked"
            aria-orientation="vertical"
            *ngFor="let part of user.parts"
          >
            {{ part.name | translate }}
          </mat-chip>
        </mat-chip-list>

        <mat-action-row>
          <button mat-button (click)="mep.expanded = false">
            <mat-icon inline="true">close</mat-icon>

            {{ 'close' | translate | titlecase }}
          </button>
          <button
            mat-button
            appConfirm="{{ 'dialog.delete.confirmation.title' | translate }}"
            message="{{ 'dialog.delete.confirmation.message' | translate }}"
            cancelButton="{{
              'dialog.delete.confirmation.cancelButton' | translate
            }}"
            confirmButton="{{
              'dialog.delete.confirmation.confirmButton' | translate
            }}"
            (confirmed)="delete([user._id])"
          >
            <mat-icon inline="true">delete</mat-icon>

            {{ 'delete' | translate | titlecase }}
          </button>
          <button mat-button (click)="openView($event, user)">
            <mat-icon inline="true">description</mat-icon>

            {{ 'view' | translate | titlecase }}
          </button>
          <button mat-button (click)="goto('/users/edit', user)">
            <!-- [routerLink]="['/users/edit']"
           [state]="{ user: user }" -->
            <mat-icon inline="true">edit</mat-icon>

            {{ 'edit' | translate | titlecase }}
          </button>
        </mat-action-row>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<!--</div>-->

<mat-paginator
  [length]="dataLength"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = $event"
></mat-paginator>
