<!-- <button mat-button (click)="addUser()">Add one more</button> -->
<!-- <a routerLink="/auth/logout" routerLinkActive="active">Logout</a>
<h1>Home works</h1> -->

<!--<ng-container *ngIf="{-->
<!--    users: users$ | async,-->
<!--    parts: parts$ | async-->
<!--  } as loadedData">-->
<!--<div *ngIf="loadedData.users && loadedData.parts; else loading">-->
<p>Parts loaded: {{ parts.length }}</p>
<p *ngIf="users$ | async as usersObs">Users Observable loaded: {{ usersObs.length }}</p>
<p *ngIf="assignments$ | async as assignmentsObs">Assignments loaded: {{ assignmentsObs.length }}</p>

<!-- <app-picker title="Choose a user" placeholder="Choose a user ..." [options]="users" labelField="fullName"></app-picker> -->

<!--</div>-->
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
<!--</ng-container>-->
<app-import-epub epubFilename="mwb_E_202011"></app-import-epub>
