<!-- <button mat-button (click)="addUser()">Add one more</button> -->

<!--<ng-container *ngIf="{-->
<!--    users: users$ | async,-->
<!--    parts: parts$ | async-->
<!--  } as loadedData">-->
<!--<div *ngIf="loadedData.users && loadedData.parts; else loading">-->
<p>Parts loaded: {{ parts.length }}</p>
<p>Users loaded: {{ users.length }}</p>
<p>Assignments loaded: {{ assignments.length }}</p>

<app-picker title="Choose a user" placeholder="Choose a user ..." [options]="users" labelField="fullName"></app-picker>

<!--</div>-->
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
<!--</ng-container>-->
<!-- <app-import-epub epubFilename="mwb_E_201909"></app-import-epub> -->
