<h2 mat-dialog-title class="center">{{ user.fullName }}</h2>

<div>
  <div
    fxLayout="row wrap"
    fxLayout.lt-sm="column"
    fxLayoutAlign="space-around stretch"
    fxLayoutAlign.lt-sm="center start"
  >
    <div fxFlex="45">
      <mat-icon inline="true">person</mat-icon>
      {{ user.type }}
    </div>
    <div fxFlex="45" *ngIf="user.progress">
      <mat-icon inline="true">info</mat-icon>
      {{ user.progress }}
    </div>
    <div fxFlex="45" *ngIf="user.phone">
      <mat-icon inline="true">phone</mat-icon>
      {{ user.phone }}
    </div>
    <div fxFlex="45" *ngIf="user.email">
      <mat-icon inline="true">mail_outline</mat-icon>
      {{ user.email }}
    </div>
  </div>

  <mat-chip-list fxLayout="row" fxLayoutAlign="start stretch">
    <mat-chip
      class="mat-chip-list-stacked"
      aria-orientation="vertical"
      [selectable]="false"
      disabled
      *ngFor="let partId of user.parts"
    >
      {{ getPartName(partId) | translate }}
    </mat-chip>
  </mat-chip-list>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>
    <mat-icon inline="true">close</mat-icon>

    {{ 'close' | translate | titlecase }}
  </button>

  <button mat-button mat-dialog-close (click)="openUserEdit()">
    <mat-icon inline="true">edit</mat-icon>

    {{ 'edit' | translate | titlecase }}
  </button>
</div>
