<div [formGroup]="form">
  <div formGroupName="{{ assignment.key }}">
    <div>
      <label attr.for="{{ assignment.key + 'assignee' }} ">{{
        assignment.part.name | translate
      }}</label>

      <select id="{{ assignment.key + 'assignee' }}" formControlName="assignee">
        <option
          *ngFor="let user of assignment.assignableUsers"
          [value]="user"
          >{{ user.fullName }}</option
        >
      </select>
    </div>
    <div *ngIf="assignment.assistant">
      <label attr.for="{{ assignment.key + 'assistant' }}">{{
        "assistant" | translate
      }}</label>

      <select
        id="{{ assignment.key + 'assistant' }}"
        formControlName="assistant"
      >
        <option
          *ngFor="let user of assignment.assignableAssistants"
          [value]="user"
          >{{ user.fullName }}</option
        >
      </select>
    </div>
    <!-- <div class="errorMessage" *ngIf="!isValid">
        {{ assignment.label }} is required
    </div> -->
  </div>
</div>
