<mat-form-field fxFill (click)="openOptionsDialog()">
  <ng-container *ngIf="labelField; else plainOption">
    <input [formControl]="control" hidden />
    <!-- Display value because it is an object -->
    <input
      matInput
      placeholder="{{ placeholder }}"
      value="{{ control.value[labelField] | translate }}"
      readonly
    />

    <!-- <span>{{ control.value[labelField] | translate }} </span> -->
  </ng-container>

  <ng-template #plainOption>
    <input
      matInput
      [formControl]="control"
      placeholder="{{ placeholder }}"
      readonly
    />
  </ng-template>

  <button type="button" mat-icon-button matSuffix>
    <mat-icon>arrow_right</mat-icon>
  </button>
</mat-form-field>
