<div fxLayout="row wrap" fxLayoutAlign="center start">
  <mat-expansion-panel
    fxFlex="90"
    #mepSearch="matExpansionPanel"
    [expanded]="displayMore"
    [hideToggle]="false"
  >
    <mat-expansion-panel-header>
      <div fxFlex fxLayout="row wrap" fxLayoutAlign="center stretch">
        <mat-form-field fxFlex="90" fxFlex.lt-md="80" fxFlex.lt-sm="70">
          <!-- Disabled autocomplete -->
          <!-- [matAutocomplete]="auto" -->
          <input
            #searchBar
            matInput
            [(ngModel)]="searchText"
            placeholder="{{ 'search-users' | translate }}"
            (click)="$event.stopPropagation()"
            (input)="search()"
            (keydown.space)="$event.stopPropagation()"
            (keydown.enter)="$event.stopPropagation(); searchUsers()"
          />
        </mat-form-field>
        <!-- <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option
            *ngFor="let user of users$ | async"
            [value]="user"
            fxLayout="row"
          >
            <button
              mat-flat-button
              fxFill
              fxLayout="row"
              (click)="openView(user)"
            >
              <div>{{ user.fullName }}</div>
            </button>
          </mat-option>
        </mat-autocomplete> -->

        <!-- More button -->
        <!-- <div
          fxHide
          fxFlex="15px"
          fxFlexAlign="center"
          fxLayoutlign="start center"
          fxLayout="row"
        >
          <button
            fxFlex
            fxFill
            mat-flat-button
            (click)="displayMore = !displayMore"
          >
            {{ 'more' | translate | titlecase }}
          </button>
        </div> -->
      </div>
    </mat-expansion-panel-header>

    <!-- Chips -->
    <p>{{ 'type' | translate | titlecase }} :</p>
    <mat-chip-list multiple="true">
      <mat-chip
        *ngFor="let filter of filtersName"
        [selected]="filterSelected(filter)"
        (click)="toggleFilter(filter)"
      >
        {{ filter | translate }}
      </mat-chip>
    </mat-chip-list>

    <mat-action-row>
      <!-- Search button -->

      <button mat-button (click)="searchUsers()">
        <!-- <mat-icon matSuffix>search</mat-icon> -->
        {{ 'apply-filters' | translate | titlecase }}
      </button>

      <button mat-button (click)="clearFilters()">
        <!-- <mat-icon matSuffix>search</mat-icon> -->
        {{ 'clear-filters' | translate | titlecase }}
      </button>

      <button mat-button (click)="mepSearch.expanded = false">
        {{ 'close' | translate | titlecase }}
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</div>
