<div fxLayout="column" fxFlexFill fxLayoutAlign="center center" id="auth">
  <div fxLayout="column">
    <div class="mat-elevation-z4">
      <mat-card>
        <mat-card-title>User login</mat-card-title>
        <mat-card-content>
          <form
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="1em"
            [formGroup]="userForm"
            (ngSubmit)="submit()"
          >
            <div *ngIf="formMessages.all" class="help is-danger">
              <legend>{{ formMessages.all | translate }}</legend>
            </div>
            <mat-form-field class="full-width">
              <input
                type="email"
                id="email"
                class="input"
                placeholder="Please enter your email"
                formControlName="email"
                required
                matInput
              />
            </mat-form-field>
            <div *ngIf="formMessages.email" class="help is-danger">
              {{ formMessages.email | translate }}
            </div>
            <mat-form-field class="full-width">
              <input
                type="password"
                id="password"
                class="input"
                placeholder="Please enter your password"
                formControlName="password"
                required
                matInput
              />
            </mat-form-field>
            <div *ngIf="formMessages.password" class="help is-danger">
              {{ formMessages.password | translate }}
            </div>
            <mat-form-field class="full-width" *ngIf="!isLoggingIn">
              <input
                type="password"
                id="repeatPassword"
                class="input"
                placeholder="Repeat password"
                formControlName="repeatPassword"
                required
                matInput
              />
            </mat-form-field>
            <div *ngIf="formMessages.repeatPassword" class="help is-danger">
              {{ formMessages.repeatPassword | translate }}
            </div>
            <app-loader *ngIf="isLoading"></app-loader>

            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!userForm.valid"
            >
              {{
                (isLoggingIn ? "sign-in" : "sign-up") | translate | titlecase
              }}
            </button>
            <button mat-raised-button type="button" (click)="toggleDisplay()">
              {{
                (isLoggingIn ? "sign-up" : "back-to-login")
                  | translate
                  | titlecase
              }}
            </button>
            <button mat-raised-button type="button" (click)="googleAuth()">
              {{ "Google" | translate | titlecase }}
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
