$gray-lighter: #eceeef !default;
$image_path: "/assets/images/" !default;

$prefix: "sigin";

.#{$prefix} {
  &-conainer {
    min-height: 100%;
    background-size: cover;
    padding: 100px;
  }

  &-main {
    position: relative;
    margin: 0 auto;
    width: 500px;
  }
}

.full-width {
  width: 100%;
}

.help {
}

.is-danger {
  color: red;
}

.redirect {
  font-size: 14px;
  margin-left: 10px;
  color: #00aaaa;
}

#auth {
  height: 100%;
  background-image: url("/assets/login11.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.login-block {
  width: 90%;
  max-width: 300px;
}

#auth mat-card-title {
  text-align: center;
  margin: 0 auto 1em;
}
