<div  class="d-flex flex-column justify-content-start align-items-center gap-1 " >
  <div class=" d-flex flex-row flex-grow-1 justify-content-start align-items-start" >
    <button class="d-flex w-10" mat-raised-button (click)="prevPage()">
      <mat-icon>arrow_left</mat-icon>
    </button>
    <button
      class="d-flex w-10 row col-10 mx-auto"
      mat-raised-button
      (click)="nextPage()"
    >
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>

  <div class="d-flex w-80 flex-row justify-content-center align-items-start ">
    <div
      #epubArea
      class="d-flex w-80"
      class="bg-color-white"
      [innerHtml]="displayedProgram"
    ></div>
  </div>
</div>
