<div *ngIf="studentsForm">
  <form (ngSubmit)="onSubmit()" [formGroup]="studentsForm">
    <div *ngFor="let assignment of assignments" class="form-row">
      <h2 *ngIf="isStartNewWeek(assignment)">
        {{ currentWeek | translateDate: "MMM-D" | async }}
      </h2>

      <app-assignment
        [assignment]="assignment"
        [form]="studentsForm"
      ></app-assignment>
    </div>

    <div class="form-row">
      <button type="submit" [disabled]="!studentsForm.valid">Save</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br />
    <pre>{{ payLoad }}</pre>
  </div>
</div>
