<ng-template #loading>
  <app-loader></app-loader>
</ng-template>

<!-- <pre *ngIf="pAssignments$ | async as pAssignments"> {{ prettify(pAssignments) }}</pre> -->

<div *ngIf="pAssignments$ | async; else loading">
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="studentsForm"
    class="d-flex flex-column justify-content-between align-items-stretch"
  >
    <!-- FORM BUTTONS-->
    <div *ngIf="isEditMode; else viewButtons" class="d-flex flex-grow-1 " >
      <!-- 
      fxLayout="row" fxLayoutAlign="space-around center" -->
      <button
        type="reset"
        mat-raised-button
        class="mat-primary"
        (click)="setEditMode(false)"
      >
        <mat-icon>undo</mat-icon>
        {{ "cancel" | translate | titlecase }}
      </button>

      <button type="submit" mat-raised-button class="mat-primary">
        <mat-icon>save</mat-icon>
        {{ "save" | translate | titlecase }}
      </button>
    </div>

    <!-- PRINT BUTTONS -->
    <ng-template #viewButtons>
      <div class="d-flex flex-grow-1">
        <button
          type="button"
          mat-raised-button
          class="mat-primary"
          (click)="setEditMode(true)"
        >
          <mat-icon>edit</mat-icon>
          {{ "edit" | translate | titlecase }}
        </button>

        <button
          type="button"
          mat-raised-button
          class="mat-primary"
          (click)="saveAsPdf()"
        >
          <mat-icon>print</mat-icon>
          {{ "print" | translate | titlecase }}
        </button>
      </div>
    </ng-template>
    &nbsp;

    <!-- WEEKS -->
    <div class="d-flex flex-grow-1 " #printableArea>
      <div
        [ngClass]="{
          'week-box-edit': isEditMode,
          'week-box-view': !isEditMode
        }"
        cdkDropListGroup
        class="d-flex flex-column justify-content-between align-items-center" style="width: 100%;"
      >
        <div
          *ngFor="let week of weeks; index as wIndex"
          class="d-flex flex-grow-1 w-100 flex-row flex-wrap justify-content-around align-items-start assignments-container"
        >
          <h2 class="d-flex flex-grow-1">
            {{ week | translateDate: "MMM-D" | async }}
          </h2>
          <button
            *ngIf="isEditMode"
            type="button"
            class="d-flex flex-grow-0"
            mat-raised-button
            matTooltip="{{ 'add-new-assignment' | translate }}"
            [disabled]="studentsForm.disabled"
            (click)="addAssignment(week, wIndex)"
          >
            <mat-icon>add_rounded</mat-icon>
          </button>

          <!--<div >-->
          <div
            class="d-flex" style="width: 100%;"
            cdkDropList
            cdkDropListData="{{ wIndex }}"
            [ngClass]="{ 'assignments-list': isEditMode }"
            (cdkDropListDropped)="drop($event, wIndex)"
          >
            <ng-container
              *ngIf="this.assignmentsByWeek[wIndex]?.length; else noAssignment"
            >
              <div
                *ngFor="let assignment of this.assignmentsByWeek[wIndex]"
                class="assignment-box"
                [ngClass]="{
                  draggable: isEditMode,
                  'alternate-color': assignment.position % 2 !== 0
                }"
                cdkDrag
                [cdkDragDisabled]="true"
              >
                <app-assignment
                  [assignment]="assignment"
                  [isEditMode]="isEditMode"
                  [listOfParts]="listOfParts"
                  [assignableListByPart]="assignableListByPart"
                  [form]="studentsForm"
                  [wIndex]="wIndex"
                  (isRemoved)="removeAssignment($event, wIndex)"
                ></app-assignment>
              </div>
            </ng-container>
            <ng-template #noAssignment>
              <div>{{ "no-assignment" | translate }}</div>
            </ng-template>
          </div>
          <!--</div>-->
        </div>
      </div>
    </div>
  </form>

  <!-- <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br />
    <pre>{{ payLoad }}</pre>
  </div> -->
</div>
