.week-box-view {
  color: red;
}

body { 
  font-size: 1.2em 
}

.assignment-box:not(last-child) {
  margin: 0 0 1em;
}
          
/* .assignments-list {  } */

.assignments-container {
  margin: 0;
}

.assignment-assignee {
  font-weight: bold;
}
