<div mat-dialog-title>
  <div fxFill fxLayout="row" fxLayoutAlign="space-between center">
    <!-- Title & close buttons-->
    <span>
      {{ data.title | translate }}
    </span>

    <button
      type="button"
      mat-icon-button
      matSuffix
      mat-dialog-close
      aria-label="close">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <p fxFill fxLayout="row" fxLayoutAlign="space-between center"> 
    <!-- Sort buttons-->
    <button
      fxFlex="45"
      mat-raised-button
      type="button"
      (click)="sort('assignmentsNumber')">
      {{ "number" | translate | titlecase }}
      <mat-icon matSuffix>arrow_upward</mat-icon>
    </button>
  
    <button fxFlex="45"
      mat-raised-button 
      type="button" 
      (click)="sort('date')">
      {{ "date" | translate | titlecase }} 
      <mat-icon>arrow_upward</mat-icon>
    </button>
  </p>
  <p fxFill fxLayout="row" fxLayoutAlign="space-between center">
    <button
      fxFlex="45"
      mat-raised-button
      type="button"
      (click)="sort('firstName')">
      {{ "first-name" | translate | titlecase }} 
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <button
      fxFlex="45"
      mat-raised-button
      type="button"
      (click)="sort('lastName')">
      {{ "last-name" | translate | titlecase }} <mat-icon>arrow_upward</mat-icon>
    </button>
  </p>
</div>

<div mat-dialog-content>
  <mat-selection-list
    #options
    [multiple]="false"
    (selectionChange)="closeDialog()">
    <mat-list-option
      *ngFor="let user of userList"
      [value]="user"
      cdkFocusInitial>
      <h2 matLine>{{ user.fullName }}</h2>
      <span matLine *ngIf="getUserAssignments(user).length"
        matTooltip="{{ getUserLastAssignmentNameTranslated(user) }}">
        {{ "last" | translate | titlecase }}
        {{
          getUserLastAssignment(user).week
            | translateDate: "DATE_MED"
            | async
        }}
      </span>
      <span matLine
        >{{ "total" | translate | titlecase }}
        {{ getAssignmentsNumber(user) }}</span>
    </mat-list-option>

    <!-- <div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>
    Ok
  </button> -->
  </mat-selection-list>
</div>
