<div mat-dialog-title fxLayout="row wrap" fxLayoutAlign="space-between center">
  <div fxFlex="90">
    {{ data.title | translate }}
  </div>
  <div fxFlex="10">
    <button
      type="button"
      mat-icon-button
      matSuffix
      mat-dialog-close
      aria-label="close"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <button
    fxFlex="auto "
    mat-raised-button
    type="button"
    (click)="sort('assignmentsNumber')"
  >
    {{ "number" | translate | titlecase }}
    <mat-icon matSuffix>arrow_upward</mat-icon>
  </button>
  <button fxFlex="auto " mat-raised-button type="button" (click)="sort('date')">
    {{ "date" | translate | titlecase }} <mat-icon>arrow_upward</mat-icon>
  </button>
  <button
    fxFlex="auto "
    mat-raised-button
    type="button"
    (click)="sort('firstName')"
  >
    {{ "first-name" | translate | titlecase }} <mat-icon>arrow_upward</mat-icon>
  </button>
  <button
    fxFlex="auto "
    mat-raised-button
    type="button"
    (click)="sort('lastName')"
  >
    {{ "last-name" | translate | titlecase }} <mat-icon>arrow_upward</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <mat-selection-list
    #options
    [multiple]="false"
    (selectionChange)="closeDialog()"
  >
    <mat-list-option
      *ngFor="let user of data.options; let isFirst = first"
      [value]="user"
      cdkFocusInitial
    >
      <h2 matLine>{{ user.fullName }}</h2>
      <span matLine *ngIf="user.lastAssignment">
        {{ "last" | translate | titlecase }}
        {{
          user.lastAssignment?.week.toISOString()
            | translateDate: "DATE_MED"
            | async
        }}
      </span>
      <span matLine
        >{{ "total" | translate | titlecase }}
        {{ user.assignments.length }}</span
      >
    </mat-list-option>

    <!-- <div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>
    Ok
  </button> -->
  </mat-selection-list>
</div>
